<main>
    <div class="container bg-info">
      <h1 style="color: white;">Create/Modify Projects</h1>
    </div>
    <form style="color:darkcyan">
      <div class="form-group">
        <label for="formControlInput1">Email address</label>
        <input type="email" name="email" class="form-control" id="formControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="formControlTextarea1">Group Members</label>
        <textarea class="form-control" name="group" id="formControlTextarea1" rows="1"></textarea>
      </div>
      <div class="form-group">
        <label for="formControlSelect1">Project Type</label>
        <select class="form-control" name="platform" id="formControlSelect1">
          <option>Desktop App</option>
          <option>Game</option>
          <option>Database</option>
          <option>Cybersecurity</option>
          <option>WebApp</option>
        </select>
      </div>
      <div>
        <div class="form-group">
          <label for="formControlTextarea2">Tech Stack</label>
        <textarea class="form-control" name="techstack" id="formControlTextarea2" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="formControlTextarea3">Description</label>
        <textarea class="form-control" name="desc" id="formControlTextarea3" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formControlTextarea3">Github Link</label>
        <textarea class="form-control" name="link" id="formControlTextarea3" rows="1"></textarea>
      </div>
    </form>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </main>