<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/boostrap/bootstrap.min.css'>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico">

  </head>
  <body>
    {{>header}}
    <main>
      {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>
